<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

	<head>
		<title>RETTIWT</title>
		<link rel="stylesheet" type="text/css" href="../theme/theme.css">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
	</head>
	
	<body>
	
		<div id="login" >
			<form action="#" method="POST">
				<table>
					<tr>
						<td>login:</td>
					</tr>
					<tr>
						<td><input type="text" name="name"></td>
					</tr>
					<tr>
						<td>senha:</td>
					</tr>
					<tr>
						<td><input type="password" name="pass"></td>
					</tr>
					<tr>
						<td><input type="submit" value="entrar"></td>
					</tr>
				</table>
				
			</form>
			
			<div id="fail">
				Usuario/Senha incorreto!
			</div>
		</div>
		
		
	
	</body>

</html>