<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

	<head>
		<title>RETTIWT</title>
		<link rel="stylesheet" type="text/css" href="../theme/theme.css">
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8"> 
	</head>
	
	<body>
	
		<div id="top">
			
		</div>
	
		<div id="container">
		
			<div id="welcome">
				<div id="menu">
					<a href="#">Home</a> | 
					<a href="#">Configurações</a> |
					<a href="#">Ajuda</a> |
					<a href="#">Sair</a>
				</div>
				
				<p>Olá, usuário</p>
				
				<div id="navcontainer">
					<ul class="navlist">
						<li><a href="#">Seguindo</a>
							<ul class="subnavlist">
								<li><a href="#"><img src="teste.png"></a></li>
								<li><a href="#"><img src="teste.png"></a></li>
								<li><a href="#"><img src="teste.png"></a></li>
								<li><a href="#"><img src="teste.png"></a></li>
								<li><a href="#"><img src="teste.png"></a></li>
								<li><a href="#"><img src="teste.png"></a></li>
								<li><a href="#"><img src="teste.png"></a></li>
							</ul>
						</li>
						
						<li><a href="#">Seguido por</a>
							<ul class="subnavlist">
								<li><a href="#"><img src="teste.png"></a></li>
								<li><a href="#"><img src="teste.png"></a></li>
							</ul>
						</li>
						
						<li><a href="#">Mensagens</a></li>
					</ul>
				</div>

			</div>
		&nbsp;
			<div id="bordertop">&nbsp;</div>
			
			<div id="content">
				<div class="msg">
					<div class="msg_content">texto hauhsuhaushua teste ahauahuahuahauhau</div>
					<div class="msg_user">
						<a href="#">foto</a>
					</div>
				</div>
				
				<div class="msg">
					<div class="msg_content">mensagem a ser exibida</div>
					<div class="msg_user">
						<a href="#">foto</a>
					</div>
				</div>
			</div>
			
			<div id="borderbottom">&nbsp;</div>
		
		</div>
	
	</body>

</html>