/*----- inicio pagina de login -----*/

body
{
    background-color: rgb(220,221,216);
}

#divBase
{
    background-color: rgb(120,129,144);
    position: relative;
    max-width: 725px;
    width: 650px;
    max-height: 525px;
    min-height: 525px;
    margin: 2%;
    font-family: sans-serif;
    border: 1px #000000 solid;
}

#divBase #imageBack
{
    width: 500px;
    margin-left: 10%;
	margin-right: 10%;
    max-height: 300px;
    min-height: 300px;
    top: 50px;
    position: relative;
    background-color: rgb(220,221,216);
    background-image: url('image/fullLogo.png');
    background-repeat:no-repeat;
    background-position: center center;
    border: 1px solid #000000;
}

#divcad
{
    background-color: rgb(220,221,216);
    width: 500px;
    margin-left: 10%;
	margin-right: 10%;
    max-height: 40px;
    position: relative;
    top: 75px;
    border: 1px solid #000000;
}

#divcad form
{
	text-align: center;
    max-height: 40px;
    min-height: 40px;
}

#divcad form #signUp
{
    float: left;
    position: relative;
    left: 20%;
    top: 10px;
}

#divcad form input
{
    float: right;
    position: relative;
    right: 20%;
    top: 9px;
}

#login
{
	
    background-color: rgb(220,221,216);
    width: 500px;
    margin-left: 10%;
	margin-right: 10%;
    max-height: 40px;
    position: relative;
    top: 95px;
    border: 1px solid #000000;
}

#login form
{
	/*border: 1px solid #ccc;*/
	text-align: center;
    max-height: 40px;
    min-height: 40px;
}

#login form #loginRegion
{
	float: left;
	width: auto;
    position: relative;
    top: 10px;
    padding-left: 10px;
}

#login form #passRegion
{
	float: left;
    width: auto;
    position: relative;
    top: 10px;
    padding-left: 10px;
}

#login form #loginRegion input
{ }

#login form #passRegion input
{ }

#login form #submitRegion
{
    width: auto;
    float: left;
    position: relative;
    top: 9px;
    padding-left: 15px;
}

#login #fail
{
	background-color: #ff0000;
    border: 1px solid;
	color: black;
	text-align: center;
    max-width: 600px;
    top: 5px;
    position: relative;
}

/*----- fim pagina de login -----*/

/*----- inicio pagina de cadastro -----*/
#newcadastro
{
    background-color: rgb(120,129,144);
    position: relative;
    max-width: 725px;
    width: 650px;
    max-height: 525px;
    min-height: 525px;
    margin: 2%;
    font-family: sans-serif;
    border: 1px #000000 solid;
}

#newcadastro #imageCad
{
    max-width: 600px;
    margin-left: 10%;
	margin-right: 10%;
    max-height: 425px;
    min-height: 425px;
    top: 50px;
    position: relative;
    background-color: rgb(220,221,216);
    background-image: url('image/fullLogo.png');
    background-repeat:no-repeat;
    background-position: top center;
    border: 1px solid #000000;
}

#newcadastro #imageCad p
{
    top: 200px;
    left: 50px;
    position: relative;
}

#newcadastro #imageCad form
{
    top: 205px;
    left: 50px;
    width: 300px;
    position: relative;
}

#newcadastro #imageCad form #cadForm
{
    width: 450px;
}

#newcadastro #imageCad form #cadForm #formConf
{
    
    position: relative;
    top: 65px;
}

#newcadastro #imageCad form #cadForm #formDados
{
    float: left;
    position: relative;
    width: 300px;
}

#newcadastro #imageCad form #cadForm #formDados .formDadosAll
{
    float: left;
    width: 130px;
    padding-top: 3px;
    padding-right: 3px;
    text-align: right;
}

#newcadastro #imageCad form #cadForm #formDados .formDadosAll input
{
    float: right;
    padding-top:3px;
}

#newcadastro #fail
{
	background-color: #ff0000;
    border: 1px solid;
	color: black;
	text-align: center;
    margin-left: 125px;
    width: 400px;
    top: 5px;
    position: relative;
}

/*----- fim pagina de cadastro -----*/

#top
{
	height: 30px;	
}

#container
{
	margin-left: 5%;
}

#welcome
{
	background-image: url('image/welcome.png');
	background-repeat: no-repeat;
	height: 91px;
	width: 650px;
}

#welcome #menu
{
	float: right;
	padding-top: 2px;
	font-family: arial;
	font-size: small;
	text-align: center;
	height: 70px;
	width: 250px;	
	background-image: url('image/top.png');
	background-repeat: no-repeat;
}

#welcome #nouser
{
	float: right;
	padding-top: 2px;
	font-family: arial;
	font-size: small;
	text-align: center;
	height: 60px;
	width: 350px;
}

#welcome #nouser form
{
    margin-left: 25px;
}

#welcome #informacoes p
{
	float: left;
	width: 250px;
	margin-bottom:0;
	margin-top:0;
}

#welcome #informacoes img
{
	width: 60px;
	height: 60px;
	vertical-align: middle;
}

#welcome #navcontainer
{
	vertical-align: bottom;
}

#welcome #menu a
{
	color: #000000;
	text-decoration: none;
}

.button {
border-style: none;
background: inherit;
font: inherit;
color: inherit;
padding: 0px;
}

#bordertop
{
	background-image: url('image/bordertop.png');
	background-repeat: no-repeat;
    width: 650px;
	/* sera trocado por uma figura com borda arredondada */
}

#content
{
	background-color: #0080C0;
	width: 650px;
}

/*----- inicio pagina de mensagens -----*/

.msg {
	height: 100px;
	/*width: 500px;*/
	padding: 10px 20px;
}

.msg .msg_content {
	width: 500px;
	height: 80px;
	float: right;
	border: 1px #888 inset;
}

.msg .msg_user {
	width: 80px;
	height: 80px;
	float: left;
}

.msg .msg_user img {
	width: 60px;
	height: 60px;
    border: 0px;
    vertical-align: middle;
}

/*----- fim pagina de mensagens -----*/

#borderbottom
{
	background-image: url('image/borderbottom.png');
	background-repeat: no-repeat;
    width: 650px;
	/* sera trocado por uma figura com borda arredondada */
}


/*----- inicio menu drop down -----*/

ul.navlist { font-family: sans-serif; }

ul.navlist a
{
font-weight: bold;
text-decoration: none;
}

ul.navlist, ul.navlist ul, ul.navlist li
{
margin: 0px;
padding: 0px;
list-style-type: none;
}

ul.navlist li 
{
	float: left;
	width: auto;
}

ul.navlist li a
{
color: #808080;
background-color: #80FF80;
padding-right: 10px;
padding-left: 10px;
/*border: 1px #ffffff outset;*/
}

ul.navlist li a:hover
{
color: #0080ff;
background-color: #80FF80;
}

ul.navlist li a:active
{
color: #cccccc;
background-color: #80FF80;
/*border: 1px #ffffff inset;*/
}

ul.subnavlist { display: none; }
ul.subnavlist li { float: left; width: 30px; }

ul.subnavlist li a
{
padding: 0px;
margin: 0px;
}

ul.navlist li:hover ul.subnavlist
{
display: block;
position: absolute;
font-size: 8pt;
padding-top: 5px;
width: 120px;
}

ul.navlist li:hover ul.subnavlist li a
{
display: block;
width: 30px;
border: none;
padding: 4px;
}

ul.navlist li:hover ul.subnavlist li a img
{
height: 20px;
width: 20px;
}

/*
ul#navlist li:hover ul#subnavlist li a:before
{
	content: " >> ";
}
*/
/*----- fim menu drop down -----*/
